target/
out/
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### eclipse ###
.settings/
.project
.classpath

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### STS ###
.apt_generated
.factorypath
.springBeans

### eclipse workspace ###
Servers/
.metadata/
.recommenders
RemoteSystemsTempFiles/

### Others ###
*~
~$*
.~lock.*
~*.tmp
*.~*
.DS_Store
.ds_store
._*
Thumbs.db

### leetcode
/src/main/java/com/starriddle/starter/java/leetcode/editor/cn/all.json
/src/main/java/com/starriddle/starter/java/leetcode/editor/cn/translation.json
